# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
<ol>
<li>Python</li>
<li>R</li>
<li>SQL</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
    <ol>
    <li>NumPy</li>
    <li>TensorFlow</li>
    <li>Pandas</li>
    </ol>

<table>
    <th>Data Science Tools</th>
    <tr>
        <td>Python</td>
    </tr>
    <tr>
        <td>Jupyter</td>
    </tr>
    <tr>
        <td>R</td>
    </tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [7]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [12]:
#This will convert 200 minutes to hours by diving by 60

(200/60)

3.3333333333333335

<b>Objectives:</b>

<ul>
    <li>Python</li>
    <li>R</li>
    <li>Kernel</li>
</ul>

<h2>Author<h2>
Brian Kamau